
.background{
    background-image: url(../images/webbg.jpg);
}

.contact{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.bold{
    font-weight: bold;
    color: rgb(6, 53, 65);
    font-size: 25px;
}

.sectionheading{
    color: rgb(104, 17, 36);
    font-weight: bolder;
    text-decoration: underline 1px;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.footer{
    color: rgba(212, 152, 102, 0.877);
}